<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


    <link href="css/login.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">

    <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light  orange-text">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
            </ul>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="#">Pizza Dog</a>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li>
            </ul>
        </div>
    </nav>


</head>

<body>
    <div class="text-center test">
        <form action="/orderConfirm" method="POST" class="form-signin" onsubmit="checktmail()">
            <img class="mb-4" src="img/chien.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Confirmez vos informations pour votre commande</h1>
            <input type="Nom" id="Nom" class="form-control" placeholder="Nom" required autofocus name="Nom">

            <input type="Prenom" id="Prenom" class="form-control" placeholder="Prenom" required autofocus name="Prenom">
            <input type="Numéro de téléphone" id="Numéro de téléphone" class="form-control"
                placeholder="Numéro de téléphone" required autofocus name="Numéro de téléphone">
            <input type="Adresse" id="Adresse" class="form-control" placeholder="Adresse" required autofocus
                name="Adresse">
            <input type="Ville" id="Ville" class="form-control" placeholder="Ville" required autofocus name="Ville">
            <input type="Code Postal" id="Code Postal" class="form-control" placeholder="Code Postal" required autofocus
                name="Code Postal">

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="conditions"> J'accepte que ma carte magique soit prévelée de la somme
                    indiquée
                </label>
            </div>


            <button class="btn btn-lg btn-primary btn-block orange-button1" type="submit">PAYER </button>
            <p class="mt-5 mb-3 text-muted">&copy; 2021-2022</p>
        </form>
    </div>

</body>

</html>